{% extends 'layout.html'%}
{%block title%}
      {{super () }}<!--no sobrescribir bloque, si no que añadir-->  

{%endblock%}

{%block content%}
        <h1>nuevo auto</h1>

        <form action='' method='POST'>
            <label for="marca"> Marca </label>
            <input type='text' name='marca' placeholder='pon la marca del articulo'></input> 
        
            <label for="modelo"> Modelo </label>
            <input type='text' name='modelo' placeholder='pon el modelo del articulo'></input>  
        
            <label for="precio"> Precio </label>
            <input type='number' name='precio' placeholder='pon el precio del articulo'></input> 

            <label for="ciudad"> Ciudad </label>
            <input type='text' name='ciudad' placeholder='pon la ciudad del articulo'></input> 
            
            <input type="submit" value="Guardar"/>
        </form>

{%endblock%}

{#
        esto es un comentario
#}