{% extends 'layout.html'%}
{%block title%}
      {{super () }}<!--no sobrescribir bloque, si no que añadir-->  

{%endblock%}

{%block content%}
        {%if coche %}
        
        <h1> Editar {{coche.1}}</h1>
        {%else %}
        <h1>nuevo auto</h1>
        

        {%endif%}
        <form action='' method='POST'>
            <label for="marca"> Marca </label>
            <input type='text' name='marca'  {%if coche %} value="{{coche.1}}"{%endif%} placeholder='pon la marca del articulo'></input> 
        
            <label for="modelo"> Modelo </label>
            <input type='text' name='modelo' {%if coche %} value="{{coche.2}}"{%endif%} placeholder='pon el modelo del articulo'></input>  
        
            <label for="precio"> Precio </label>
            <input type='number' name='precio' {%if coche %} value="{{coche.3}}"{%endif%} placeholder='pon el precio del articulo'></input> 

            <label for="ciudad"> Ciudad </label>
            <input type='text' name='ciudad' {%if coche %} value="{{coche.4}}"{%endif%} placeholder='pon la ciudad del articulo'></input> 
            
            <input type="submit" value="Guardar"/>
        </form>

        {%endblock%}

{#
        esto es un comentario
#}