{% extends 'layout.html'%}
{%block title%}
      {{super () }}<!--no sobrescribir bloque, si no que añadir-->  |inicio

{%endblock%}

{%block content%}
        <h1>aprendiendo flask</h1>

        {% with messages = get_flashed_messages() %}
                {%if  messages %}
                        {% for message in messages%}
                          <div class='alert'>{{message}}</div>
                 {%endfor%}
                {%endif%}
        {% endwith %}

        {% if edad >= 18%}
                <h2>eres mayor de edad</h2>
                  tu edad es : {{edad}}
        {%else %}
                 <h2>eres menor de edad</h2>
                  tu edad es : {{edad}}
        {%endif%}
{%endblock%}

{#
        esto es un comentario
#}