<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title%}
            <title>aprendiendo flask</title>
        {% endblock%}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for( 'static', filename= 'css/styles.css')}}">
    </head>
    <body>

        <nav>
            <ul>|
                <li> 
                    <a href = "{{url_for('index')}}"> inicio </a>
                </li>
                <li> 
                    <a href = "{{url_for('informacion')}}"> informacion </a>
                </li>
                <li> 
                    <a href = "{{url_for('contacto')}}"> contacto </a>
                </li>
                <li> 
                    <a href = "{{url_for('lenguajes')}}"> lenguajes </a>
                </li>
                
            </ul>
            </nav>
        </hr>

        {% block content%}

        {% endblock%}
        <script src="" async defer></script>
    </body>
</html>