<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>aprendiendo flask</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for( 'static', filename= 'css/styles.css')}}">
    </head>
    <body>
        <header>
            <div id="logotipo">
            <img src="{{url_for( 'static', filename= 'media/logo.png')}}"></img>
            <h1>sitio web con flask</h1>
            </div>
        </header>

        <nav>
            <ul>|
                <li> 
                    <a href = "{{url_for('index')}}"> inicio </a>
                </li>
                <li> 
                    <a href = "{{url_for('crear_coche')}}"> nuevo auto </a>
                </li>
                <li> 
                    <a href = "{{url_for('informacion')}}"> informacion </a>
                </li>
                <li> 
                    <a href = "{{url_for('contacto')}}"> contacto </a>
                </li>
                <li> 
                    <a href = "{{url_for('lenguajes')}}"> lenguajes </a>
                </li>
                <li> 
                    <a href = "{{url_for('coches')}}"> coches </a>
                </li>
                
            </ul>
            </nav>
            <div class="barra">
                <span class="esquina-izquierda"></span>    
                <span class="relleno"></span>   
                <span class="esquina-derecha"></span>  
            </div> 
    
            <div id="content">
                <div class="box">
                    {% block title%}
                    <h2 class = 'title'> titulo de prueba</h2>
                    {% endblock %}
                    <br>
                    {% block content%}
                    <strong>contenido por defecto</strong>
                    {% endblock %}
                </div>
            </div>

        <footer>master en python curso
            - version {{now.month}}, {{now.year}}
        </footer>
    </body>
</html>